body {
    background: rgb(144,147,225);
    background: linear-gradient(0deg, rgba(144,147,225,1) 0%, rgba(8,72,171,1) 100%);
    height: 100%;
    background-attachment: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}